<div class="col-md-4 col-sm-6 margin30">
    <div class="footer-col">
        <h3>Контакты:</h3>
        <ul class="list-unstyled contact">
            <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> vaisahali, jaipur, 302012</p>
            </li>
            <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">Support@designmylife.com</a>
            </p></li>
            <li><p><strong><i class="fa fa-phone"></i> Phone:</strong> +91 1800 2345 2132</p></li>
            <li><p><strong><i class="fa fa-print"></i> Fax</strong> 1800 2345 2132</p></li>
            <li><p><strong><i class="fa fa-skype"></i> Skype</strong> assan.856</p></li>

        </ul>
    </div>
</div>