<div class="col-md-4 col-sm-6 margin30">
    <div class="footer-col">
        <h3>О "ПрофИТ":</h3>
        <p>
            &laquo;ПрофИТ&raquo; - уникальная программная платформа для онлайн-обучения. В первую очередь она рассчитана на обучение
            и повышение квалификации программистов, разработчиков и других специалистов в области IT.
            Платформа позволяет студентам смотреть видеоуроки, проходить тесты, сдавать домашние задания и получать по ним
            обратную связь от преподавателей, пользоваться онлайн-консультациями с преподавателями.
            <br>
            Платформа &laquo;ПрофИТ&raquo; разработана в России.
        </p>
        <ul class="list-inline social-1">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-vk"></i></a></li>
        </ul>
    </div>
</div>