<footer id="footer">
    <div class="container">
        <div class="row">
            {% include 'Assan/parts/footer-1.html' %}
            {% include 'Assan/parts/footer-2.html' %}
            {% include 'Assan/parts/footer-3.html' %}
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-btm">
                    <span>&copy;2013 &laquo;ПрофИТ&raquo; </span>
                </div>
            </div>
        </div>
    </div>
</footer>