{% if not app.user %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
        <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
            <form role="form" action="/user/login.html" method="post">
                <h4>Войти в систему:</h4>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                        <input type="text" placeholder="E-mail" class="form-control input-sm" name="login[email]">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" placeholder="Пароль" class="form-control input-sm" name="login[password]">
                    </div>
                    <div class="form-group"><button type="submit" class="btn btn-theme-bg pull-right"><i class="fa fa-sign-in"></i> Войти</button></div>
                    <div class="clearfix"></div>
                    <hr>
                    <p>Еще не стали нашим студентом? <a href="/learner/register.html">Регистрируйтесь!</a></p>
                </div>
            </form>
        </div>
    </li>
{% else %}
    <li>
        <a href="/user/">Ваш профиль</a>
    </li>
    {% if app.user.hasRole('teacher') %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
        <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
            <h4>Панель преподавателя</h4>
            <hr>
            <p>
                Вас ждут домашние задания:
                <a href="/teacher/homeworks">
                    <span class="badge"><t4:block path="//Teacher/HomeworksCount" user="{{app.user.Pk}}" /></span>
                </a>
            </p>
        </div>
    </li>
    {% endif %}
    <li>
        <a href="/user/logout.html"><i class="fa fa-sign-out"></i></a>
    </li>
{% endif %}