{% set level = items[0].__lvl %}
{% set current = level %}
{% set count = 0 %}
{% if items.count %}

    {% for key, item in items %}

    {% set current = item.__lvl %}
    {% if current == level %}
    {% if count > 0 %}</li>{% endif %}
    {% endif %}

    {% if current > level %}
    <ul{% if item.hasChildren %}{% if level==0 %} class="dropdown-menu multi-level"{% endif %}{% else %} class="dropdown-menu"{% endif %}>
    {% set level = current %}
    {% endif %}

    {% if current < level %}
    {{"</li></ul>"|repeat(level-current)|raw}}</li>
    {% set level = current %}
    {% endif %}

    <li data-id="{{item.Pk}}"{% if item.hasChildren %}{% if level==0 %} class="dropdown"{% else %} class="dropdown-submenu"{% endif %}{% endif %}>
        <a href="{{item.url}}"{% if item.hasChildren %} class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
            {{item.title}}{% if item.hasChildren %}{% if level==0 %}<span class="caret"></span>{% endif %}{% endif %}
        </a>

    {% set count = count + 1 %}
    {% endfor %}

    {{"</li></ul>"|repeat(current)|raw}}</li>

{% endif %}