{% extends "Assan-1.7.5/blank.html" %}

{% block header %}
{% if app.user and app.user.hasRole('learner') %}
Здравствуйте, {{app.user.firstName}}
{% else %}
Добро пожаловать!
{% endif %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
<li><a href="/learner">Личный кабинет студента</a></li>
<li>Телефон</li>
{% endblock %}

{% block content %}

<h2 class="page-header" style="margin-top: 0">Телефон</h2>

<div class="row">
    <div class="col-xs-12">
        <p>Укажите свой номер телефона и получайте совершенно бесплатно sms-уведомления о важных событиях во время
            обучения:</p>
        <ul>
            <li>Напоминания о консультациях, на которые вы записались</li>
            <li>Оценки, полученные за домашнее задание</li>
            <li>Ответы преподавателей на ваши вопросы</li>
            <li>Новые курсы, которые могут быть вам интересны!</li>
        </ul>
        {% include '__phone.form.html' %}
        <p>{{ notconfirm ? 'Код подтверждения указан не верный' : '' }}</p>
    </div>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {
        $('#input_code').hide();
        $(document).on('click', '#savemsisdn', function (e) {
            e.preventDefault();
            var msisdnacting = $('#msisdn').attr('value');
            var countryCodeacting = $('#countryCode').attr('value');
            var msisdn = $("input#msisdn").val();
            var countryCode = $('option#countryCode').val();
            if (/^[\s\d\-\(\)]+$/.test(msisdn)) {
                if (msisdnacting !== msisdn || countryCodeacting !== countryCode) {
                    if (confirm('Вы хотите указать новый номер телефона?')) {
                        $.post('/user/sendSms.json', {countryCode: countryCode, msisdn: msisdn}, (function (data) {
                            if (data.result) {
                                alert('На Ваш новый номер телефона отправлено SMS-сообщение с кодом подтверждения.');
                                $('#savemsisdn').attr({'value':'Подтвердить'});
                                $('#input_code').show();
                                $(document).off('click', '#savemsisdn');
                            }
                            else {
                                alert(data.status);
                            }
                        })).error(function () {
                            alert('Ошибка выполнения запроса');
                        })
                    }
                }
            }
            else {
                alert('Не верный формат номера телефона')
            }
        });
    });
</script>
{% endblock %}