{% extends "Assan-1.7.5/email-template.html" %}

{% block disclaimer %}Это письмо послано автоматически. Пожалуйста, не отвечайте на него!{% endblock %}

{% block header %}Тестовое письмо{% endblock %}
{% block lead %}Подзаголовок тестового письма{% endblock %}

{% block bigbuttonhref %}{{domain}}/courses/{% endblock %}
{% block bigbuttontext %}Все курсы{% endblock %}

{% block leftcolumnheader %}Левая колонка{% endblock %}
{% block leftcolumncontent %}Текст в левой колонке{% endblock %}

{% block rightcolumnheader %}Правая колонка{% endblock %}
{% block rightcolumncontent %}Текст в правой колонке{% endblock %}